<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.spirosbond.callerflashlight"
          android:versionCode="12"
          android:versionName="2.3">

<uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".CallerFlashlight"
        android:supportsRtl="true">

        <activity
            android:name="com.spirosbond.callerflashlight.MainPanel"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PrefsActivity"
            android:label="@string/titlePrefs"
            android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MainPanel"/>
        </activity>

        <activity
            android:name=".CallPrefs"
            android:label="@string/titleCallPrefs"
            android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MainPanel"/>
        </activity>

        <activity
            android:name=".MsgPrefs"
            android:label="@string/titleMsgPrefs"
            android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MainPanel"/>
        </activity>

        <activity
            android:name=".About"
            android:label="@string/titleAbout"
            android:screenOrientation="portrait"
            android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MainPanel"/>
        </activity>
        <!--<activity-->
        <!--android:name=".HowTo"-->
        <!--android:label="@string/titleHowTo"-->
        <!--android:windowSoftInputMode="stateHidden"-->
        <!--android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">-->
        <!--&lt;!&ndash; Parent activity meta-data to support 4.0 and lower &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="com.spirosbond.callerflashlight.MainPanel"/>-->
        <!--</activity>-->

        <activity
            android:name=".FirstTimeUtilisation"
            android:label="@string/first_time"
            android:windowSoftInputMode="stateHidden"/>


        <activity
            android:name=".Donate"
            android:label="@string/titleDonate"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.spirosbond.callerflashlight.MainPanel">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MainPanel"/>
        </activity>

        <activity
            android:name=".AppList"
            android:label="@string/AppList"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:parentActivityName="com.spirosbond.callerflashlight.MsgPrefs">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spirosbond.callerflashlight.MsgPrefs"/>

        </activity>

        <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!--<receiver android:name=".MediaButtonReceiver">-->
        <!--<intent-filter>-->
        <!--&lt;!&ndash;<action android:name="android.intent.action.MEDIA_BUTTON"/>&ndash;&gt;-->
        <!--<action android:name="android.media.VOLUME_CHANGED_ACTION" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".NotificationService"
            android:label="@string/notification_service"
            android:enabled="true"

            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <!--android:exported="false"-->

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service"/>

        </service>

        <!--<activity-->
        <!--android:name="com.startapp.android.publish.list3d.List3DActivity"-->
        <!--android:taskAffinity="com.spirosbond.callerflashlight.AppWall"-->
        <!--android:theme="@android:style/Theme"/>-->

        <!--<activity-->
        <!--android:name="com.startapp.android.publish.AppWallActivity"-->
        <!--android:theme="@android:style/Theme.Translucent"-->
        <!--android:taskAffinity="com.spirosbond.callerflashlight.AppWall"-->
        <!--android:configChanges="orientation|keyboardHidden"/>-->


        <!--<meta-data-->
        <!--android:name="com.startapp.android.DEV_ID"-->
        <!--android:value="108632531"/>-->
        <!--<meta-data-->
        <!--android:name="com.startapp.android.APP_ID"-->
        <!--android:value="208372780"/>-->


        <!--<activity-->
        <!--android:name="com.appflood.AFPanelActivity"-->
        <!--android:configChanges="keyboardHidden">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.appflood.AFFullScreenActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:theme="@android:style/Theme.Translucent"-->
        <!--android:launchMode="singleTask">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.appflood.AFListActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@android:style/Theme.Translucent">-->
        <!--<intent-filter>-->
        <!--<action android:name=""/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.appflood.AFInterstitialActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent">-->

        <!--</activity>-->

        <activity
            android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|screenLayout|uiMode|smallestScreenSize|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <meta-data
                android:name="ADMOB_PUBLISHER_ID"
                android:value="pub-4450409123751393"/>
        </activity>


    </application>


</manifest>
